@font-face {
    font-family: "Furtiger W01";
    src: url("_static/fonts/FrutigerLTW01-55Roman.woff2");
}

@font-face {
    font-family: "Furtiger W01";
    src: url("_static/fonts/FrutigerLTW01-65Bold.woff2");
    font-weight: bold;
}

body,
h1,
h2 {
    font-family: "Frutiger W01",Arial,Sans-serif;
    color: #212b32;
}

a.icon-home,
a.icon-home:hover {
    background-color: #003087;
}

div.wy-side-scroll {
    background-color: #d8dde0;
}

.wy-nav-side {
    background-color: #d8dde0;
}

div.wy-menu p.caption {
    color: #212b32;
}
div.wy-menu li a {
    color: #4c6272;
}

div.wy-menu li a:hover {
    color: #d9d9d9;
}

div.wy-menu li.current a:hover {
    color: #4c6272;
}
