# pipeline
bonobo==0.6.4
# s3
boto3==1.13.8
# image data
pydicom==1.4.2
# dataprocessing task
pandas==1.1.5
https://github.com/nhsx/nccid-cleaning/archive/a79a79f26cc02879e17469f78ed2af8623b0c6bd.zip
