<!DOCTYPE html>
<html>
<title>NCCID Dashboard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{{ url_for('static', filename='nhs-favicon.png') }}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body,h1 {font-family: "Arial", sans-serif;}
body, html {height: 100%;}
.bgimg {
  background-image: url('https://images.pexels.com/photos/2526491/pexels-photo-2526491.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<body>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    NCCID Dashboard
  </div>
  <div class="w3-display-middle">
    <hr class="w3-border-grey w3-animate-top" style="margin:auto;width:75%">
    <h1 class="w3-jumbo w3-animate-top">COMING SOON</h1>
    <hr class="w3-border-grey w3-animate-top" style="margin:auto;width:75%">
  </div>
</div>
</body>
</html>